body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  header {
    background-color: #f1f1f1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  header img {
    width: 100%;
    height: 500px;
  }
  
  section {
    padding: 20px;
  }
  section #inicio{
    text-align: center;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-right: 20px;
    display: inline-block;
    width: 300px;
  }
  
  .card img {
    width: 100%;
    border-radius: 5px;
  }
  
  .card h3 {
    margin-top: 10px;
  }
  
  .card p {
    font-size: 14px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  